nose
codecov
coverage
mock
yamllint
flake8
black;python_version>="3.6"
isort;python_version>="3.6"
moban-handlebars
pypi-mobans-pkg==0.0.12
# arrow 0.14.0 doesnt support Python 3.4
arrow<0.14.0;python_version=="3.4"
arrow;python_version!="3.4"
jinja2_time
pypifs
gitfs2
jinja2-python-version>=1.1.2
httpfs
collective.checkdocs
Pygments
